## Per Category

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [8]:
n = 500 #Size of dataset, in rows.
gender_data = []
income_data = []

for i in range(n):
    gender_data.append( np.random.choice( gender ) )
    income_data.append( np.random.choice( income ) )

In [9]:
height = 130 + 30 * np.random.randn( n )
weight = 65 + 25 * np.random.randn( n )
age = 30 + 12 * np.random.randn( n )
income = 18000 + 3500 * np.random.randn( n )

In [10]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status": income_data,
        "Height": height,
        "Weight": weight,
        "Age": age,
        "Income": income
    }
)

In [11]:
data.head()

   Gender Economic Status      Height      Weight        Age        Income
0  Female    Middle Class  128.503274   51.635580  46.481995  17306.734084
1    Male            Poor  120.007009   42.789077  17.924604  16668.358947
2    Male    Middle Class  134.178189  100.533650   8.077287  21392.736376
3  Female            Poor  122.999286   50.464509  60.556385  18544.431510
4  Female    Middle Class  173.162080   73.714105  28.107580  23788.471025

## Data Grouping

In [14]:
grouped_gender = data.groupby( "Gender" )

In [21]:
grouped_gender.groups

{'Female': Int64Index([  0,   3,   4,   5,  15,  24,  26,  27,  28,  29,
             ...
             481, 483, 484, 486, 491, 493, 494, 497, 498, 499],
            dtype='int64', length=237),
 'Male': Int64Index([  1,   2,   6,   7,   8,   9,  10,  11,  12,  13,
             ...
             480, 482, 485, 487, 488, 489, 490, 492, 495, 496],
            dtype='int64', length=263)}

In [19]:
for names, groups in grouped_gender:
    print( names )
    print( groups )

Female
     Gender Economic Status      Height      Weight        Age        Income
0    Female    Middle Class  128.503274   51.635580  46.481995  17306.734084
3    Female            Poor  122.999286   50.464509  60.556385  18544.431510
4    Female    Middle Class  173.162080   73.714105  28.107580  23788.471025
5    Female    Middle Class  148.253501   65.478541  38.392317  17198.556008
15   Female    Middle Class  146.201128   77.630169   6.313549  24078.045912
24   Female            Rich  107.295181   98.516158  46.549059  16665.566170
26   Female            Poor  156.574735   81.332638  28.778429  24272.497291
27   Female            Rich   98.798542   87.737364  22.593523  22127.051074
28   Female            Rich   93.719155   55.283218  33.665680  26035.536507
29   Female            Rich  130.504347   65.097707  37.954712  23067.033484
30   Female    Middle Class  129.702076  104.025273   8.114336  16387.187104
31   Female    Middle Class  157.221225   62.228646  23.653946  14361.174875
32   Female            Rich  113.896877   81.870530  27.435028  18231.880495
33   Female    Middle Class   59.243071   91.165127  27.397388  20403.945011
35   Female    Middle Class  127.102510   12.560427  21.805883  11022.760399
36   Female            Rich  138.431565   65.471834  35.771194  17439.114365
39   Female            Poor  171.961997   61.331992  14.024193  17940.029481
43   Female    Middle Class  137.037455   27.623683  30.561524  17786.769808
49   Female            Rich  132.285628   82.429336  26.144304  22240.559419
50   Female            Poor  117.978095   55.799435  38.795549  19250.018958
51   Female            Poor  131.096628   97.023219   5.680056  22356.623278
52   Female            Poor  152.632227   71.566058  30.700877  16268.705298
55   Female            Rich  105.795408  102.280748  18.658810  18763.532896
56   Female            Rich  110.157751   74.180807  16.837063  22688.499581
59   Female            Poor  166.312928   64.742617  42.340885  11921.241807
63   Female    Middle Class  142.473447   72.101905  24.664909  14906.094751
64   Female            Poor  181.559449   81.643204   7.419334  17927.888749
65   Female    Middle Class   87.962961   83.862740  49.204654  18292.294880
66   Female            Poor  137.521683   89.656029  20.993315  19164.930665
67   Female    Middle Class  122.895494   79.601989  33.430361  19585.134189
..      ...             ...         ...         ...        ...           ...
437  Female    Middle Class  161.100097  110.284262  25.048662  19023.876543
438  Female            Poor  129.794937   80.995533  39.640751  26043.298815
440  Female            Poor  137.842009   68.285014  45.658162  18713.895896
443  Female    Middle Class  153.081196   43.650740  41.825623  11634.904109
444  Female    Middle Class  130.111817   48.557124  28.418840  20980.008526
447  Female    Middle Class  129.906251   26.206841  18.310277  13506.013495
449  Female            Poor  114.853485   84.490907  29.914190  15186.941120
450  Female    Middle Class  168.190477   73.307819  31.435789  16152.513630
452  Female            Poor  164.153826  114.717035   4.002788  11161.268626
453  Female            Poor  128.613582   97.845352  43.508530  14909.085675
456  Female            Rich  119.394278   71.461634  32.445345  18266.845330
457  Female    Middle Class  151.996127   37.789070  27.213279  18284.619190
460  Female    Middle Class  107.915474   43.382008  37.619072  15349.374694
461  Female            Rich  119.271919   57.893692  57.942245  22808.029938
464  Female    Middle Class  166.507099   51.644539  10.781634  16095.151785
466  Female    Middle Class  147.997588   54.239294  36.921441  19550.944743
470  Female    Middle Class  181.586941   49.425552  43.009835  18733.679271
471  Female            Poor  134.465041   75.154174  27.926046  20546.966130
472  Female            Poor  111.811479   50.008282  37.358116  18116.278031
473  Female            Rich  151.470788   94.347190  45.436735  21930.055810
481  Female            Rich  136.835473   87.621245  23.187715  16780.586709
483  Female            Rich  105.490113   50.238314  32.546008  20231.693870
484  Female            Poor  114.291653   74.795202  38.275476  16300.208577
486  Female            Poor  160.825664   83.393685  16.182283  20392.722452
491  Female            Rich   75.027905   55.265305  30.322841  20436.530291
493  Female            Poor  183.075392   60.693259  17.279518  12962.626240
494  Female            Rich  179.496730   72.841153  31.044904   8656.288742
497  Female            Rich  118.927732   90.780377  28.564044  15222.225633
498  Female            Poor   73.717487  127.819323   8.070644  15670.654442
499  Female    Middle Class  150.803611   93.644177  43.096285  17637.100162

[237 rows x 6 columns]
Male
    Gender Economic Status      Height      Weight        Age        Income
1     Male            Poor  120.007009   42.789077  17.924604  16668.358947
2     Male    Middle Class  134.178189  100.533650   8.077287  21392.736376
6     Male    Middle Class   69.952753   63.621207  16.902791  14511.743248
7     Male            Rich  121.740835  113.389812  31.898392  18906.666854
8     Male            Poor  163.960827   98.207902  30.737657  21123.928246
9     Male            Rich  108.930327   85.326288  16.178011  21391.934585
10    Male            Poor   98.852316   82.080383  25.039430  11444.208435
11    Male    Middle Class  109.166160   48.137844  20.945039  14444.255392
12    Male            Rich   85.923404   56.942299  45.777218  17949.549156
13    Male    Middle Class  118.327209   17.320268  44.378085  18012.584120
14    Male            Rich  113.804695   84.417908  34.437676  14410.215032
16    Male            Rich  137.399324   72.510342  30.822340  22278.754198
17    Male    Middle Class  122.314529   47.165080  38.540669  18923.313551
18    Male            Rich  171.344433   53.797203  32.555509  15513.089244
19    Male            Poor   74.194807   45.059593  23.084225  15710.358901
20    Male    Middle Class  117.735573   69.094948  24.038399  18493.251786
21    Male            Poor  142.506334  105.342401  48.649147  23108.989135
22    Male            Poor  169.242226  134.571494  15.452319  13199.533267
23    Male            Poor  109.519303   69.978900  29.186131  17498.586874
25    Male            Rich  113.318318   54.674752  50.167800  15982.903438
34    Male            Rich  147.167548   15.696370  30.850614  14835.763055
37    Male            Rich  170.858841   65.152147  43.759867  19294.740597
38    Male    Middle Class   40.287769   32.816516   8.796687  17644.819848
40    Male    Middle Class  156.891873   74.224559  40.175259  20384.747894
41    Male            Rich  151.741840   56.332036  37.252706  20299.496270
42    Male            Rich   91.604935   82.186385  38.227747  17331.077192
44    Male            Rich  121.260612   44.393530  28.886352  15224.873293
45    Male            Poor  159.394627   60.471668  24.394724  22227.882803
46    Male            Poor  171.584325   38.712419  39.831766  14552.062000
47    Male            Poor  121.674612   59.621468  34.338050  15135.285512
..     ...             ...         ...         ...        ...           ...
445   Male    Middle Class  116.800367   29.003301  14.497662  20666.943443
446   Male    Middle Class  122.564477   51.509184  26.539822  11854.002546
448   Male            Rich  157.890190   53.153300  27.582394  22180.371744
451   Male            Rich  181.389010   38.581037  22.284335  11048.828129
454   Male            Poor  127.369573   38.327502  49.583329  15117.788501
455   Male            Poor  169.921147   74.826717  10.051451  19015.392384
458   Male    Middle Class  160.750804   85.850273  15.074956  18309.167409
459   Male    Middle Class  135.208510   77.989904  30.206430  12902.270616
462   Male            Poor  173.735256   87.099021  42.515077  15248.618455
463   Male            Rich  127.604277   70.606465  18.342509  17801.947429
465   Male            Poor   67.606155   74.065497  35.888786  21860.045631
467   Male            Poor  119.461782   14.872565  31.592315  22464.130128
468   Male            Rich  160.247297   34.023489  25.587643  18044.810881
469   Male            Rich  140.201940   24.996703  21.570786  19749.986035
474   Male            Poor  125.054110   20.648371  55.400537  20659.121598
475   Male            Poor  149.928022   59.603153  32.656376  13425.262646
476   Male            Rich  134.474264   76.426365  33.688310  19969.063139
477   Male    Middle Class  132.535856   98.123270  54.120739  18814.202332
478   Male    Middle Class  186.156593   34.499611  33.204429  16741.551647
479   Male            Rich   96.783921   67.973806  43.329081  15565.473680
480   Male            Rich  140.638098   82.505926  35.245360  17781.374485
482   Male    Middle Class  148.933131   65.924432  25.162987  16535.220198
485   Male            Rich  113.356042   87.220887  39.952553  13155.312217
487   Male            Poor  184.151695   57.372222  10.444751  17777.598954
488   Male    Middle Class  185.217083   48.055792  14.014331  18147.194048
489   Male            Poor  152.062422   34.232692  14.681282  18917.089057
490   Male            Poor  138.471552   99.872991  51.345956  21198.558258
492   Male    Middle Class  161.268313   50.558691  40.186367  20894.779390
495   Male            Poor  154.095193   46.085528  17.856160  16795.507267
496   Male            Rich  110.430820   91.832995  14.768861  20095.462318

[263 rows x 6 columns]

In [23]:
grouped_gender.get_group( "Female" ).head()

    Gender Economic Status      Height     Weight        Age        Income
0   Female    Middle Class  128.503274  51.635580  46.481995  17306.734084
3   Female            Poor  122.999286  50.464509  60.556385  18544.431510
4   Female    Middle Class  173.162080  73.714105  28.107580  23788.471025
5   Female    Middle Class  148.253501  65.478541  38.392317  17198.556008
15  Female    Middle Class  146.201128  77.630169   6.313549  24078.045912

In [27]:
double_group = data.groupby( ["Gender", "Economic Status"] )

for names, groups in double_group:
    print( names )
    print( groups )

('Female', 'Middle Class')
     Gender Economic Status      Height      Weight        Age        Income
0    Female    Middle Class  128.503274   51.635580  46.481995  17306.734084
4    Female    Middle Class  173.162080   73.714105  28.107580  23788.471025
5    Female    Middle Class  148.253501   65.478541  38.392317  17198.556008
15   Female    Middle Class  146.201128   77.630169   6.313549  24078.045912
30   Female    Middle Class  129.702076  104.025273   8.114336  16387.187104
31   Female    Middle Class  157.221225   62.228646  23.653946  14361.174875
33   Female    Middle Class   59.243071   91.165127  27.397388  20403.945011
35   Female    Middle Class  127.102510   12.560427  21.805883  11022.760399
43   Female    Middle Class  137.037455   27.623683  30.561524  17786.769808
63   Female    Middle Class  142.473447   72.101905  24.664909  14906.094751
65   Female    Middle Class   87.962961   83.862740  49.204654  18292.294880
67   Female    Middle Class  122.895494   79.601989  33.430361  19585.134189
68   Female    Middle Class  134.757760   85.571322  23.103035  19699.421854
75   Female    Middle Class  100.663093   53.778862  13.524410  13087.352850
91   Female    Middle Class  122.097130   46.167818  33.792699  20166.911112
92   Female    Middle Class  115.339618  119.067111  36.241158  14538.149772
93   Female    Middle Class  147.937250   40.397408  13.597363  18919.638045
96   Female    Middle Class   98.961402   15.071815  39.118614  23224.845475
102  Female    Middle Class   37.734274   64.463585  34.965853  16774.825770
104  Female    Middle Class  108.616494   49.885908   2.707432  20845.331770
120  Female    Middle Class  178.144435   94.146609  24.748389  22874.054898
122  Female    Middle Class  115.426937   81.507731  47.297107  19133.848567
127  Female    Middle Class  129.368864   56.082957  34.118393  20973.561453
139  Female    Middle Class  108.567817   67.856296  28.284019  19584.358678
146  Female    Middle Class  121.240587   69.667341  29.708740  22686.271914
161  Female    Middle Class  140.646492   38.500737  38.077174  15307.710463
162  Female    Middle Class  126.479737  124.884722  30.637089  15191.929557
169  Female    Middle Class   94.205329   62.503043  30.299087  20585.328061
178  Female    Middle Class   63.735650   70.586481   1.415900  22336.471026
187  Female    Middle Class  130.622992   24.837673  23.896114  21223.912805
..      ...             ...         ...         ...        ...           ...
343  Female    Middle Class  116.957953   63.923415  31.440204  22420.546199
350  Female    Middle Class   82.085835   67.038077  22.780395  17668.643121
353  Female    Middle Class   86.146334   67.226071  36.231155  14022.744340
355  Female    Middle Class  126.241833   62.760939  17.450515  15321.347375
358  Female    Middle Class  105.086265   76.003863  33.835199  12736.002078
359  Female    Middle Class  113.975619  146.251506  25.228791  15647.175394
361  Female    Middle Class  105.866450   65.832341  51.051544  22470.137148
366  Female    Middle Class   95.031180   37.829166  42.832720  13479.587603
379  Female    Middle Class  144.964230   71.046217  20.246715  17911.450129
383  Female    Middle Class  108.865337   82.240284  56.779146  18426.074493
385  Female    Middle Class  129.809927   41.084462  21.823861  17930.512191
392  Female    Middle Class  125.685588   68.543236  25.214704  14040.604393
400  Female    Middle Class   13.157553   81.029171  52.940516  13522.661686
406  Female    Middle Class   94.287389   73.085759   5.922219  16928.875420
407  Female    Middle Class  116.272951   88.296239  49.538526  20421.307311
414  Female    Middle Class  154.998317   69.291488  41.870223  19486.190073
419  Female    Middle Class  133.135678   31.724958  20.454768  23262.176401
420  Female    Middle Class  148.894373   95.420175  44.451957  20866.935251
434  Female    Middle Class  108.389142   90.619316  30.399331  23144.782792
437  Female    Middle Class  161.100097  110.284262  25.048662  19023.876543
443  Female    Middle Class  153.081196   43.650740  41.825623  11634.904109
444  Female    Middle Class  130.111817   48.557124  28.418840  20980.008526
447  Female    Middle Class  129.906251   26.206841  18.310277  13506.013495
450  Female    Middle Class  168.190477   73.307819  31.435789  16152.513630
457  Female    Middle Class  151.996127   37.789070  27.213279  18284.619190
460  Female    Middle Class  107.915474   43.382008  37.619072  15349.374694
464  Female    Middle Class  166.507099   51.644539  10.781634  16095.151785
466  Female    Middle Class  147.997588   54.239294  36.921441  19550.944743
470  Female    Middle Class  181.586941   49.425552  43.009835  18733.679271
499  Female    Middle Class  150.803611   93.644177  43.096285  17637.100162

[85 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height      Weight        Age        Income
3    Female            Poor  122.999286   50.464509  60.556385  18544.431510
26   Female            Poor  156.574735   81.332638  28.778429  24272.497291
39   Female            Poor  171.961997   61.331992  14.024193  17940.029481
50   Female            Poor  117.978095   55.799435  38.795549  19250.018958
51   Female            Poor  131.096628   97.023219   5.680056  22356.623278
52   Female            Poor  152.632227   71.566058  30.700877  16268.705298
59   Female            Poor  166.312928   64.742617  42.340885  11921.241807
64   Female            Poor  181.559449   81.643204   7.419334  17927.888749
66   Female            Poor  137.521683   89.656029  20.993315  19164.930665
82   Female            Poor  126.921539   64.077993  33.960478  24690.115330
85   Female            Poor  121.857406   19.039161  33.277734  18135.723896
95   Female            Poor  131.971116   90.746044  22.085654  18298.891512
97   Female            Poor  145.710605   47.170243  52.937781  12756.320272
108  Female            Poor  101.000721   83.841948  31.705941  15214.344614
111  Female            Poor  156.061828   21.924379  30.619592  15397.556463
118  Female            Poor  164.570867   55.778776  42.088209  27135.049708
130  Female            Poor  126.485305   71.208773  38.063937  15296.065437
136  Female            Poor  148.778942   95.490802  27.322745  20995.618944
137  Female            Poor  115.750045   98.255399  30.912425  20998.898404
142  Female            Poor  154.362101   29.087327  35.904345  21048.768933
155  Female            Poor   55.557510   65.605604  25.652444  19354.134564
160  Female            Poor  135.309917   94.480804  19.617041  12579.026135
163  Female            Poor  157.911000   36.702701  23.607730  15277.567475
173  Female            Poor  142.573502   68.774999  31.923227  12325.688266
176  Female            Poor  186.211121   52.229828  20.721735  18375.349463
179  Female            Poor  114.056396   36.886063   4.550788  17626.592558
190  Female            Poor  107.661093   81.604679  30.195378  16030.349108
197  Female            Poor  142.908699   48.731429  19.422172  16227.159549
200  Female            Poor   86.643580   41.661964  69.780165  14525.676089
209  Female            Poor   93.519892    8.107697  47.302280  24146.619141
..      ...             ...         ...         ...        ...           ...
365  Female            Poor  135.040988  103.755700  54.840768  23378.401274
369  Female            Poor  122.856955   57.048271  29.246420  18206.842219
370  Female            Poor  127.793730   69.857874  41.251784  16444.969064
373  Female            Poor  121.407794   75.783228  29.345595  20748.266686
375  Female            Poor  132.274196   97.973668  37.492172  14975.291178
376  Female            Poor  106.105066  116.085611  34.662219  19706.874799
384  Female            Poor   90.448302   94.886940  45.891218  13338.126059
387  Female            Poor  125.356698   69.748389  25.792492  17867.027066
390  Female            Poor   79.906318   30.406438  25.321848  18378.760454
391  Female            Poor  135.596043   30.115113  40.847518  22558.555539
393  Female            Poor  134.726733  112.889214  26.769997  12353.253266
398  Female            Poor   76.011465   84.620577  38.330362  18386.433636
402  Female            Poor   98.917947   88.853361  20.047149  20582.525994
404  Female            Poor  109.425247   78.765090  50.114234  19292.235105
411  Female            Poor  151.358521   80.197828  17.054746  23682.179371
418  Female            Poor  144.767578   79.277903  23.527312  18611.561161
424  Female            Poor   74.797313   19.899372  23.510514  18076.102978
427  Female            Poor  197.764380  112.242914  25.131599  15283.462589
432  Female            Poor  167.014140   72.142375  24.025289  19734.845204
438  Female            Poor  129.794937   80.995533  39.640751  26043.298815
440  Female            Poor  137.842009   68.285014  45.658162  18713.895896
449  Female            Poor  114.853485   84.490907  29.914190  15186.941120
452  Female            Poor  164.153826  114.717035   4.002788  11161.268626
453  Female            Poor  128.613582   97.845352  43.508530  14909.085675
471  Female            Poor  134.465041   75.154174  27.926046  20546.966130
472  Female            Poor  111.811479   50.008282  37.358116  18116.278031
484  Female            Poor  114.291653   74.795202  38.275476  16300.208577
486  Female            Poor  160.825664   83.393685  16.182283  20392.722452
493  Female            Poor  183.075392   60.693259  17.279518  12962.626240
498  Female            Poor   73.717487  127.819323   8.070644  15670.654442

[77 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height      Weight        Age        Income
24   Female            Rich  107.295181   98.516158  46.549059  16665.566170
27   Female            Rich   98.798542   87.737364  22.593523  22127.051074
28   Female            Rich   93.719155   55.283218  33.665680  26035.536507
29   Female            Rich  130.504347   65.097707  37.954712  23067.033484
32   Female            Rich  113.896877   81.870530  27.435028  18231.880495
36   Female            Rich  138.431565   65.471834  35.771194  17439.114365
49   Female            Rich  132.285628   82.429336  26.144304  22240.559419
55   Female            Rich  105.795408  102.280748  18.658810  18763.532896
56   Female            Rich  110.157751   74.180807  16.837063  22688.499581
71   Female            Rich  157.506849   90.453485  18.683462  18258.988162
72   Female            Rich  154.948644  113.895749  36.030941  12632.700862
78   Female            Rich  113.148064   61.244859  48.252867  20420.126824
86   Female            Rich   95.033261   71.544164  42.691023  20666.506395
89   Female            Rich  127.616912   84.266297  53.369752  18796.261346
90   Female            Rich  116.362495   77.826498  26.289642  19077.443248
98   Female            Rich  163.876187   38.044782  35.794019  14154.190250
99   Female            Rich   98.423609   57.783151  31.315158  14975.634133
101  Female            Rich  162.020188   51.983906  30.361448  11848.453082
106  Female            Rich  118.821905   11.738679  37.824170  21252.618134
107  Female            Rich  125.927311   79.939357  40.357669  19801.040119
109  Female            Rich  101.764143   87.195134  31.172194  22979.968451
125  Female            Rich  129.821726   83.981170  10.730248  17634.663885
135  Female            Rich   91.904654  101.922255  45.437003  17052.722438
144  Female            Rich  151.114910   40.691625  42.478552   9832.227102
145  Female            Rich  148.282229   92.728105  28.479970  18549.913290
171  Female            Rich  118.109603   59.041063   9.763351  17113.144071
183  Female            Rich  172.855852   46.252289  25.600343  17264.199237
198  Female            Rich  102.257311    5.397978  41.403947  15543.264825
204  Female            Rich   89.583864   87.728513  24.100197  18266.769083
211  Female            Rich  201.715890   77.424964  27.293004  20271.674568
..      ...             ...         ...         ...        ...           ...
315  Female            Rich   74.781976   47.714056  16.800539  15757.252704
327  Female            Rich  126.645277   80.844571  39.049482  15975.309572
331  Female            Rich  154.773356   48.774613  21.906568  21830.712129
332  Female            Rich  104.912275   79.908397   7.761732  22048.858803
337  Female            Rich  169.008571   44.140095  30.440409  23578.432597
338  Female            Rich   96.341793   57.825035  55.431342  10035.659287
341  Female            Rich  160.616149   71.103902  15.213777  14880.532174
345  Female            Rich  166.000708  101.129726  35.082985  17831.682985
348  Female            Rich  109.559153   49.004639  28.416506  18243.123421
351  Female            Rich  116.943000   71.321140  34.371721  19933.652716
354  Female            Rich  121.388514   82.978759  31.525249  15866.771457
371  Female            Rich  115.854401   76.027281  19.627056  20020.858013
374  Female            Rich  178.582267    7.698392  30.432550  12947.851579
399  Female            Rich   90.878926   73.181363  38.087747  26323.979528
403  Female            Rich  157.379386   60.248049  34.814299  15263.417934
405  Female            Rich  180.406549   82.783720  42.898254  20553.057048
408  Female            Rich   88.218936   70.592767  23.103425  23624.817283
410  Female            Rich  110.668026   48.225906  20.512508  18632.686401
415  Female            Rich  176.324033   82.554136  32.801338  15942.139126
421  Female            Rich  130.775402   93.908856  33.677357  19672.416920
422  Female            Rich   85.811331   46.615465  30.255016  21988.882301
423  Female            Rich   97.351351   63.418791  27.718942  16898.718969
456  Female            Rich  119.394278   71.461634  32.445345  18266.845330
461  Female            Rich  119.271919   57.893692  57.942245  22808.029938
473  Female            Rich  151.470788   94.347190  45.436735  21930.055810
481  Female            Rich  136.835473   87.621245  23.187715  16780.586709
483  Female            Rich  105.490113   50.238314  32.546008  20231.693870
491  Female            Rich   75.027905   55.265305  30.322841  20436.530291
494  Female            Rich  179.496730   72.841153  31.044904   8656.288742
497  Female            Rich  118.927732   90.780377  28.564044  15222.225633

[75 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weight        Age        Income
2     Male    Middle Class  134.178189  100.533650   8.077287  21392.736376
6     Male    Middle Class   69.952753   63.621207  16.902791  14511.743248
11    Male    Middle Class  109.166160   48.137844  20.945039  14444.255392
13    Male    Middle Class  118.327209   17.320268  44.378085  18012.584120
17    Male    Middle Class  122.314529   47.165080  38.540669  18923.313551
20    Male    Middle Class  117.735573   69.094948  24.038399  18493.251786
38    Male    Middle Class   40.287769   32.816516   8.796687  17644.819848
40    Male    Middle Class  156.891873   74.224559  40.175259  20384.747894
48    Male    Middle Class  151.041505   27.798153  24.859468  15308.904282
70    Male    Middle Class  109.826348   38.459297  30.369058  21615.107401
73    Male    Middle Class   77.346493   66.920619  22.091279  19025.838849
77    Male    Middle Class  107.635817  120.742720  16.564220  16371.125781
87    Male    Middle Class  118.945087   42.187347  29.910969  18347.925751
88    Male    Middle Class  142.286891   87.429270  40.028510  23650.511223
100   Male    Middle Class  144.039283   31.102029  29.821492  17563.020054
112   Male    Middle Class  145.852986   45.370178   8.192100  19836.066770
114   Male    Middle Class   95.607727   81.755672  42.430079  12522.780708
115   Male    Middle Class  182.547998   47.986845  24.994497  12335.579074
116   Male    Middle Class  107.489885   43.325546  38.603185  21859.317571
117   Male    Middle Class   68.565839   56.358301  19.476092  18253.765800
119   Male    Middle Class   91.845853   70.121314  47.293830  17019.125498
121   Male    Middle Class   37.824078   82.693087  30.162446  18239.141069
126   Male    Middle Class  173.258153  114.561207  39.011371  16880.858540
134   Male    Middle Class  133.190909   58.681529  36.447850  19743.352259
141   Male    Middle Class  104.012004   35.850616  31.667967  21247.041153
143   Male    Middle Class  185.831423   63.018019  29.990298  19683.681350
147   Male    Middle Class  165.783893   61.222879  50.807633  19325.114203
151   Male    Middle Class  147.222721   55.695455  31.912756  15072.525565
153   Male    Middle Class   95.589700   95.177774  38.488974  21416.903623
154   Male    Middle Class  172.130186   57.748302  -9.862627  17693.527827
..     ...             ...         ...         ...        ...           ...
313   Male    Middle Class  142.260565   58.756090  30.550924  18849.648384
317   Male    Middle Class  145.980118   78.027756  29.872945  19556.988251
322   Male    Middle Class  127.885142   90.902416  39.545094  14069.952110
324   Male    Middle Class  169.793767   84.117110  14.587344  16392.233373
329   Male    Middle Class   74.744919   79.854278  28.659435   8144.199020
334   Male    Middle Class  136.940654   74.571211  37.603653  23004.893207
344   Male    Middle Class   68.356376   34.053797  48.755714  17246.783924
352   Male    Middle Class  188.433994   93.414250  16.793128  20747.967099
356   Male    Middle Class  110.721022   45.663065  22.944198  21139.885229
380   Male    Middle Class  120.448567   80.719761  17.184006  14352.975738
381   Male    Middle Class  134.084365   82.433990  44.496051  15073.696094
382   Male    Middle Class   97.273257   94.044894  11.673326  18642.039985
389   Male    Middle Class  140.403676   37.605198   8.448562  20769.415544
394   Male    Middle Class  104.006004   65.271116  34.454676  17735.310327
396   Male    Middle Class   90.466973   27.896921  29.548068  19972.502413
397   Male    Middle Class  132.680140   74.191611  28.957772  20919.202543
401   Male    Middle Class  121.126629  105.853637  42.332880  17184.509423
412   Male    Middle Class  124.281641  105.020305  15.282273  19884.732691
433   Male    Middle Class   75.506872   47.665835  29.680463  19159.456817
436   Male    Middle Class  144.378727   70.869344  39.950826  20356.397746
439   Male    Middle Class  150.495535   52.296560  27.013537  16421.701616
445   Male    Middle Class  116.800367   29.003301  14.497662  20666.943443
446   Male    Middle Class  122.564477   51.509184  26.539822  11854.002546
458   Male    Middle Class  160.750804   85.850273  15.074956  18309.167409
459   Male    Middle Class  135.208510   77.989904  30.206430  12902.270616
477   Male    Middle Class  132.535856   98.123270  54.120739  18814.202332
478   Male    Middle Class  186.156593   34.499611  33.204429  16741.551647
482   Male    Middle Class  148.933131   65.924432  25.162987  16535.220198
488   Male    Middle Class  185.217083   48.055792  14.014331  18147.194048
492   Male    Middle Class  161.268313   50.558691  40.186367  20894.779390

[92 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height      Weight        Age        Income
1     Male            Poor  120.007009   42.789077  17.924604  16668.358947
8     Male            Poor  163.960827   98.207902  30.737657  21123.928246
10    Male            Poor   98.852316   82.080383  25.039430  11444.208435
19    Male            Poor   74.194807   45.059593  23.084225  15710.358901
21    Male            Poor  142.506334  105.342401  48.649147  23108.989135
22    Male            Poor  169.242226  134.571494  15.452319  13199.533267
23    Male            Poor  109.519303   69.978900  29.186131  17498.586874
45    Male            Poor  159.394627   60.471668  24.394724  22227.882803
46    Male            Poor  171.584325   38.712419  39.831766  14552.062000